Repository mizegret/minatoku-duel, changes with the labels that .github/labeler.yml gives for each.
All labels: type:docs, area:ci, area:net, area:ui, automerge

rule(ci): stabilize workflows and self-review (M0)
  .github/labels.json
  .github/workflows/auto-link-from-branch.yml
  .github/workflows/ci.yml
  .github/workflows/issue-lint.yml
  .github/workflows/nightly-doctor.yml
  .github/workflows/slash-commands.yml
  .husky/pre-push
  docs/checklists/task.md
  docs/ui/layout.md
  package.json
  scripts/check-granularity.sh
  scripts/check-shell.mjs
  scripts/self-review.sh
  scripts/sync-labels.mjs
Labels: type:docs, area:ci, automerge

docs(ci): add labels sync workflow (manual)
  .github/workflows/labels-sync.yml
Labels: type:docs, area:ci, automerge

chore(permissions): mark .husky/pre-push and scripts/mk-branch.sh executable
  .husky/pre-push
  scripts/mk-branch.sh
Labels: none

rule(ci): add PR Doctor to suggest fixes (size/permissions)
  .github/workflows/pr-doctor.yml
Labels: type:docs, area:ci, automerge

fix(ci): quote YAML step name; escape mermaid pipes; add Pages build placeholder
  .github/workflows/auto-merge.yml
  .husky/pre-push
  dist/assets/anime/walk.vrma
  dist/env.local.json
  dist/index.html
  docs/ui/layout.md
  package.json
  scripts/build-placeholder.mjs
  scripts/mk-branch.sh
  scripts/repo-doctor.mjs
Labels: type:docs, area:ci, automerge

chore(permissions): re-mark scripts executable
  .husky/pre-push
  scripts/mk-branch.sh
Labels: none

chore(build): copy docs images to Pages output
  .husky/pre-push
  dist/docs/ui/images/README.md
  dist/docs/ui/images/main-layout.png
  dist/index.html
  scripts/build-placeholder.mjs
  scripts/mk-branch.sh
Labels: none

fix(ci): auto-fix exec bits in CI; skip .husky exec check on CI; remove gh merge fallback
  .github/workflows/auto-merge.yml
  .github/workflows/ci.yml
  scripts/check-shell.mjs
Labels: type:docs, area:ci, automerge

fix(ci): replace auto-merge step with GraphQL (no gh, no .git); broaden triggers
  .github/workflows/auto-merge.yml
Labels: type:docs, area:ci, automerge

CI/Guardrails 安定化（M0）
  .github/labels.json
  .github/workflows/auto-link-from-branch.yml
  .github/workflows/auto-merge.yml
  .github/workflows/ci.yml
  .github/workflows/issue-lint.yml
  .github/workflows/labels-sync.yml
  .github/workflows/nightly-doctor.yml
  .github/workflows/pr-doctor.yml
  .github/workflows/slash-commands.yml
  .husky/pre-push
  dist/assets/anime/walk.vrma
  dist/docs/ui/images/README.md
  dist/docs/ui/images/main-layout.png
  dist/env.local.json
  dist/index.html
  docs/checklists/task.md
  docs/ui/layout.md
  package.json
  scripts/build-placeholder.mjs
  scripts/check-granularity.sh
  scripts/check-shell.mjs
  scripts/repo-doctor.mjs
  scripts/self-review.sh
  scripts/sync-labels.mjs
Labels: type:docs, area:ci, automerge

docs(runbook): fix markdownlint trailing spaces
  .github/workflows/labels-sync.yml
  .github/workflows/slash-commands.yml
  docs/git/runbook-ci-guardrails.md
  scripts/set-branch-protection.mjs
Labels: type:docs, area:ci, automerge

chore(format): set-branch-protection script
  scripts/set-branch-protection.mjs
Labels: none

chore(format): new-pr script
  scripts/new-pr.mjs
Labels: none

fix(exec): lint-friendly try/catch in fix-exec
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/guardrails.yml
  .github/workflows/pr-doctor.yml
  .husky/pre-commit
  package.json
  scripts/fix-exec.mjs
Labels: type:docs, area:ci, automerge

Runbook + /rebase + labels sync (M1)
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/guardrails.yml
  .github/workflows/labels-sync.yml
  .github/workflows/pr-doctor.yml
  .github/workflows/slash-commands.yml
  .husky/pre-commit
  docs/git/runbook-ci-guardrails.md
  package.json
  scripts/fix-exec.mjs
  scripts/new-pr.mjs
  scripts/set-branch-protection.mjs
Labels: type:docs, area:ci, automerge

feat(app): add minimal app skeleton (M2-1)
  .husky/pre-push
  package-lock.json
  package.json
  scripts/build-placeholder.mjs
  scripts/check-mermaid.mjs
  scripts/mk-branch.sh
  scripts/new-pr.mjs
  src/README.md
  src/app.jsx
Labels: area:ui

chore(security): ignore dist/; delete dist/env.local.json; strip env.* from build; lint fixes
  .gitignore
  dist/env.local.json
  dist/index.html
  scripts/build-placeholder.mjs
  scripts/repo-doctor.mjs
  src/app.jsx
Labels: area:ui

chore(format): 体裁の微調整（CI再実行のため）
  .github/workflows/ci.yml
  .gitignore
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc.json
  docs/deployment/cloudflare-pages.md
  env.local.json.example
  scripts/build-placeholder.mjs
  scripts/fix-exec.mjs
  scripts/guard-pr.mjs
  scripts/guard-secrets.mjs
  scripts/repo-doctor.mjs
Labels: type:docs, area:ci, automerge

fix(lint): 未使用import削除・app.jsx整形（M2-1 CI安定化）
  scripts/build-placeholder.mjs
  src/app.jsx
Labels: area:ui

rule(lint): eslint --max-warnings 0 をローカル必須化／lint-stagedにprettier追加／Owner Approvalのノイズ削減
  .github/workflows/require-owner-approval.yml
  .lintstagedrc.json
  package.json
Labels: type:docs, area:ci, automerge

rule(lint): _プレフィックスの未使用を許容（no-unused-varsのvars/caughtErrorsを追加）
  eslint.config.js
  scripts/fix-exec.mjs
  scripts/repo-doctor.mjs
  scripts/sync-labels.mjs
Labels: none

セキュリティ: dist/env.* の排除と dist/ の無視設定 (#45)
  .github/workflows/ci.yml
  .gitignore
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc.json
  dist/env.local.json
  dist/index.html
  docs/deployment/cloudflare-pages.md
  env.local.json.example
  package-lock.json
  package.json
  scripts/build-placeholder.mjs
  scripts/check-mermaid.mjs
  scripts/fix-exec.mjs
  scripts/guard-pr.mjs
  scripts/guard-secrets.mjs
  scripts/mk-branch.sh
  scripts/new-pr.mjs
  scripts/repo-doctor.mjs
  src/README.md
  src/app.jsx
Labels: type:docs, area:ci, area:ui, automerge

chore(lint): テスト環境のESLintグローバルをJSにも適用
  eslint.config.js
  package-lock.json
  package.json
  schemas/envelope.schema.json
  tests/events.schema.test.js
  vitest.config.ts
Labels: none

fix(test): Ajv 2020-12 meta を使用するよう修正
  tests/events.schema.test.js
Labels: none

fix(lint): build-placeholder の未使用importを削除
  scripts/build-placeholder.mjs
Labels: none

M2-1: 最小アプリ骨格（3カラムUIのみ） (#44)
  .github/workflows/require-owner-approval.yml
  .lintstagedrc.json
  eslint.config.js
  package.json
  scripts/build-placeholder.mjs
  scripts/sync-labels.mjs
Labels: type:docs, area:ci, automerge

rule(commitlint): merge系コミットを検査対象から除外（PR通過性を改善）
  commitlint.config.cjs
Labels: none

Closes #48 — Event Envelope のJSON Schemaテスト (M2-2) (#49)
  .github/workflows/guardrails.yml
  commitlint.config.cjs
  eslint.config.js
  package-lock.json
  package.json
  schemas/envelope.schema.json
  tests/events.schema.test.js
  vitest.config.ts
Labels: type:docs, area:ci, automerge

fix(cf): TypeScript注釈を除去しESLintパースエラーを解消／関数テストをJS化
  functions/api/ably-token.ts
  tests/functions.ably-token.test.js
Labels: area:net

chore(ci): sync-labels 更新（差分更新＋エラー処理）
  scripts/sync-labels.mjs
Labels: none

M2-3: Pages Functions に /api/ably-token スタブを追加 (#52)
  functions/api/ably-token.ts
  tests/functions.ably-token.test.js
Labels: area:net

docs(pr): やさしいPRテンプレに刷新（目的/確認/リスク/戻し方）
  .github/pull_request_template.md
Labels: type:docs, automerge

docs(deployment): コードブロックに言語指定を追加
  docs/deployment/cloudflare-pages.md
Labels: type:docs, automerge

chore(ci): 条件付きジョブをskipではなく成功扱いに変更（E2E/Owner承認）
  .github/workflows/ci.yml
  .github/workflows/require-owner-approval.yml
Labels: type:docs, area:ci, automerge

fix(ci): auto-merge GraphQL variables avoid reserved key (use instead of )
  .github/workflows/auto-merge.yml
Labels: type:docs, area:ci, automerge

chore(ci): remove custom auto-merge workflow; rely on GitHub built-in
  .github/workflows/auto-merge.yml
Labels: type:docs, area:ci, automerge

ci: 条件付きジョブをskipではなく成功扱いに変更 (#55)
  .github/pull_request_template.md
  .github/workflows/ci.yml
  .github/workflows/require-owner-approval.yml
  docs/deployment/cloudflare-pages.md
  scripts/sync-labels.mjs
Labels: type:docs, area:ci, automerge

ci: 内蔵Auto-mergeに一本化（カスタムWorkflow削除） (#58)
  .github/workflows/auto-merge.yml
Labels: type:docs, area:ci, automerge

chore(ci): remove redundant workflows (auto-link/reviewdog)
  .github/workflows/auto-link-from-branch.yml
  .github/workflows/reviewdog-eslint.yml
  .github/workflows/reviewdog-markdown.yml
Labels: type:docs, area:ci, automerge

chore(ci): 収束用の Required Checks job と issue参照の自動付与を追加
  .github/workflows/ci.yml
  .github/workflows/guardrails.yml
Labels: type:docs, area:ci, automerge

.github/labeler.yml:

type:docs:
  - changed-files:
      - any-glob-to-any-file: ['docs/**', 'AGENTS.md', '.github/**']
area:ci:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**']
area:net:
  - changed-files:
      - any-glob-to-any-file: ['functions/**']
area:ui:
  - changed-files:
      - any-glob-to-any-file: ['src/**', 'public/**']

automerge:
  - changed-files:
      - any-glob-to-any-file: ['docs/**', '.github/**']
