Repository mizegret/minatoku-duel, changes with the labels that .github/labeler.yml gives for each.
All labels: type:docs, area:ci, area:net, area:ui, automerge

chore(web): lockfile sync for @pixiv/three-vrm ^3.4.3（npm ci 修正）
  apps/web/package.json
  package-lock.json
Labels: none

feat(web): M3 VRMローダを追加（最小・フォールバック付き）
  apps/web/package.json
  apps/web/src/Scene.jsx
  apps/web/src/scene/Avatar.jsx
  package-lock.json
Labels: none

chore(dev): add front:dev/back:dev/dev:both and concurrently
  package-lock.json
  package.json
Labels: none

chore(web): dev proxy for /api -> 127.0.0.1:8788
  apps/web/vite.config.js
Labels: none

refactor(web): TS bootstrap (main.tsx/App.tsx), add types and favicon; add JS forwarders for dev
  .lintstagedrc.json
  apps/web/index.html
  apps/web/package.json
  apps/web/public/favicon.svg
  apps/web/src/App.jsx
  apps/web/src/App.tsx
  apps/web/src/main.jsx
  apps/web/src/main.tsx
  apps/web/tsconfig.json
Labels: none

feat(layout): lock main panels to 100vh; stabilize R3F canvas sizing
  apps/web/src/Scene.jsx
Labels: none

ui(e2e): add UI spec (no scroll + event logs) and webServer
  e2e/ui.spec.ts
  playwright.config.ts
Labels: none

chore(ci): include apps/** in changes filter to run e2e
  .github/workflows/ci.yml
Labels: type:docs, area:ci, automerge

chore(lint): ignore apps/web TS temporarily during migration
  eslint.config.js
Labels: none

chore(lint): ignore .wrangler/** and test-results/**; add local ignores to .gitignore
  .gitignore
  .wrangler/tmp/bundle-amz2dc/middleware-insertion-facade.js
  .wrangler/tmp/bundle-amz2dc/middleware-loader.entry.ts
  .wrangler/tmp/bundle-tAFzE9/middleware-insertion-facade.js
  .wrangler/tmp/bundle-tAFzE9/middleware-loader.entry.ts
  .wrangler/tmp/dev-Wpnc2r/functionsWorker-0.5522553765798517.js
  .wrangler/tmp/dev-Wpnc2r/functionsWorker-0.5522553765798517.js.map
  .wrangler/tmp/pages-cvI5Gb/functionsRoutes-0.9112120316629582.mjs
  .wrangler/tmp/pages-cvI5Gb/functionsWorker-0.5522553765798517.mjs
  .wrangler/tmp/pages-cvI5Gb/functionsWorker-0.5522553765798517.mjs.map
  eslint.config.js
Labels: none

chore(format): prettify temporary forwarders
  apps/web/src/App.jsx
  apps/web/src/main.jsx
Labels: none

chore(clean): remove accidental .wrangler tmp artifacts and ignore locally
  .wrangler/tmp/bundle-amz2dc/middleware-insertion-facade.js
  .wrangler/tmp/bundle-amz2dc/middleware-loader.entry.ts
  .wrangler/tmp/bundle-tAFzE9/middleware-insertion-facade.js
  .wrangler/tmp/bundle-tAFzE9/middleware-loader.entry.ts
  .wrangler/tmp/dev-Wpnc2r/functionsWorker-0.5522553765798517.js
  .wrangler/tmp/dev-Wpnc2r/functionsWorker-0.5522553765798517.js.map
  .wrangler/tmp/pages-cvI5Gb/functionsRoutes-0.9112120316629582.mjs
  .wrangler/tmp/pages-cvI5Gb/functionsWorker-0.5522553765798517.mjs
  .wrangler/tmp/pages-cvI5Gb/functionsWorker-0.5522553765798517.mjs.map
Labels: none

fix(ci): read live labels from API (avoid stale pr.labels) in size/doctor checks
  .github/workflows/pr-doctor.yml
  .github/workflows/pr-size.yml
Labels: type:docs, area:ci, automerge

fix(ci): read live labels from API in size/doctor checks
  .github/workflows/pr-doctor.yml
  .github/workflows/pr-size.yml
Labels: type:docs, area:ci, automerge

fix(ci): ラベル判定を最新化（size/doctor）
  .github/workflows/pr-doctor.yml
  .github/workflows/pr-size.yml
Labels: type:docs, area:ci, automerge

feat(web): 100vh固定・Dev起動・TSブートストラップ＋UI E2E
  .github/workflows/ci.yml
  .gitignore
  .lintstagedrc.json
  apps/web/index.html
  apps/web/package.json
  apps/web/public/favicon.svg
  apps/web/src/App.jsx
  apps/web/src/App.tsx
  apps/web/src/Scene.jsx
  apps/web/src/main.jsx
  apps/web/src/main.tsx
  apps/web/tsconfig.json
  apps/web/vite.config.js
  e2e/ui.spec.ts
  eslint.config.js
  package-lock.json
  package.json
  playwright.config.ts
Labels: type:docs, area:ci, automerge

refactor(web): migrate src to TypeScript (local/bus, events schema/validate/state, Scene/Avatar)
  apps/web/package.json
  apps/web/src/App.tsx
  apps/web/src/Scene.tsx
  apps/web/src/lib/bus/local.js
  apps/web/src/lib/bus/local.ts
  apps/web/src/lib/events/schema.ts
  apps/web/src/lib/events/validate.js
  apps/web/src/lib/events/validate.ts
  apps/web/src/scene/Avatar.tsx
  apps/web/src/state/events.ts
  apps/web/src/vite-env.d.ts
Labels: none

chore(lock): sync package-lock after @types/three and TS migration
  package-lock.json
Labels: none

chore(dev): satisfy eslint (no-empty) in lock checker
  .husky/pre-commit
  package.json
  scripts/check-lock-sync.mjs
  scripts/pr-body-verify.mjs
  scripts/pr-template.mjs
Labels: none

refactor(web): src のTS化（local/bus, events, Scene/Avatar） (#91)
  .husky/pre-commit
  apps/web/package.json
  apps/web/src/App.tsx
  apps/web/src/Scene.tsx
  apps/web/src/lib/bus/local.js
  apps/web/src/lib/bus/local.ts
  apps/web/src/lib/events/schema.ts
  apps/web/src/lib/events/validate.js
  apps/web/src/lib/events/validate.ts
  apps/web/src/scene/Avatar.tsx
  apps/web/src/state/events.ts
  apps/web/src/vite-env.d.ts
  package-lock.json
  package.json
  scripts/check-lock-sync.mjs
  scripts/pr-body-verify.mjs
  scripts/pr-template.mjs
Labels: none

refactor(web): remove temporary JS forwarders (App.jsx/main.jsx)
  apps/web/src/App.jsx
  apps/web/src/main.jsx
Labels: none

ui(style): デザインM0のベースCSS追加（変数/タイポ/枠）と最小クラス付与
  apps/web/src/App.tsx
  apps/web/src/main.tsx
  apps/web/src/styles.css
Labels: none

refactor(web): 一時フォワーダ削除（App.jsx/main.jsx） (#92)
  apps/web/src/App.jsx
  apps/web/src/main.jsx
Labels: none

ui(M0): ベースCSS（変数/タイポ/枠）と最小クラス付与 (#93)
  apps/web/src/App.tsx
  apps/web/src/main.tsx
  apps/web/src/styles.css
Labels: none

fix(ci): rerun size guard on label changes (labeled/unlabeled)
  .github/workflows/pr-size.yml
Labels: type:docs, area:ci, automerge

fix(ci): rerun size guard on label changes (labeled/unlabeled) (#94)
  .github/workflows/pr-size.yml
Labels: type:docs, area:ci, automerge

feat(net): TokenServiceインターフェースとHTTP実装を追加し、UIにtokenステータス表示（Phase 1のstub）
  apps/web/src/App.tsx
  apps/web/src/lib/token/TokenService.ts
  apps/web/src/lib/token/http.ts
  e2e/token.spec.ts
Labels: none

chore(dev): satisfy no-empty with explicit catch block in pr:open
  scripts/pr-open.mjs
Labels: none

chore(dev): format pr-sync
  scripts/pr-sync.mjs
Labels: none

feat(net): TokenService + /api/ably-token のstub疎通とUI表示
  apps/web/src/App.tsx
  apps/web/src/lib/token/TokenService.ts
  apps/web/src/lib/token/http.ts
  e2e/token.spec.ts
  scripts/pr-open.mjs
  scripts/pr-sync.mjs
Labels: none

ui(M1): ベースCSSを拡張（spacing/レイアウトクラス）し、Appで適用。token取得にリトライ追加。E2Eにレイアウト検証を追加。
  apps/web/src/App.tsx
  apps/web/src/styles.css
  e2e/layout.spec.ts
Labels: none

chore(dev): add wrangler.toml with compatibility_date to silence dev warning
  wrangler.toml
Labels: none

chore(e2e): start backend with Playwright (port 8788) and fix heading locators
  e2e/layout.spec.ts
  playwright.config.ts
Labels: none

chore(e2e): backendも同時起動＋見出しロケータ修正 (#98)
  apps/web/src/App.tsx
  apps/web/src/styles.css
  e2e/layout.spec.ts
  playwright.config.ts
  wrangler.toml
Labels: none

chore(e2e): resolve merge conflict and use heading locators
  .gitignore
  e2e/layout.spec.ts
  package.json
  playwright.config.ts
Labels: none

chore(dev): add scripts/dev-pages.sh for Pages Functions dev server (used by back:dev)
  scripts/dev-pages.sh
Labels: none

ui(M1): ベースCSS拡張＋レイアウト適用／token取得リトライ／E2E追加 (#96)
  .gitignore
  package.json
  scripts/dev-pages.sh
Labels: none

docs(analytics): イベント集計設計 v0.1（準備）\n\nCloses #
  docs/analytics/event-aggregation.md
Labels: type:docs, automerge

chore(schema): event counters JSON Schema v0.1（準備）\n\nCloses #
  schemas/analytics/event-counters.schema.json
Labels: none

docs(analytics): イベント集計設計 v0.1（準備）\n\nCloses #100
  docs/analytics/event-aggregation.md
Labels: type:docs, automerge

.github/labeler.yml:

type:docs:
  - changed-files:
      - any-glob-to-any-file: ['docs/**', 'AGENTS.md', '.github/**']
area:ci:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**']
area:net:
  - changed-files:
      - any-glob-to-any-file: ['functions/**']
area:ui:
  - changed-files:
      - any-glob-to-any-file: ['src/**', 'public/**']

automerge:
  - changed-files:
      - any-glob-to-any-file: ['docs/**', '.github/**']
