Repository mizegret/minatoku-duel, changes with the labels that .github/labeler.yml gives for each.
All labels: type:docs, area:ci, area:net, area:ui, automerge

ci: Required Checks ゲート追加＋Issue参照の自動付与 (#56)
  .github/workflows/ci.yml
  .github/workflows/guardrails.yml
Labels: type:docs, area:ci, automerge

docs(pr): テンプレに備考セクションを追加（リンク/スクショ置き場）
  .github/pull_request_template.md
Labels: type:docs, automerge

docs(pr): テンプレに備考セクションを追加（リンク/スクショ置き場） (#53)
  .github/pull_request_template.md
Labels: type:docs, automerge

chore(ci): labels-sync 改良（作成+更新+エラーハンドリング）と自動実行トリガー追加
  .github/workflows/labels-sync.yml
  scripts/sync-labels.mjs
Labels: type:docs, area:ci, automerge

chore(ci): labels-sync 改良（作成+更新+エラーハンドリング）と自動実行トリガー追加 (#61)
  .github/workflows/labels-sync.yml
  scripts/sync-labels.mjs
Labels: type:docs, area:ci, automerge

chore(ci): add pre-push rebase guard to avoid PR conflicts
  .husky/pre-push
  scripts/hooks/pre-push-rebase-guard.sh
Labels: none

chore(merge): resolve conflicts (prefer main for non-docs)
  .github/pull_request_template.md
  .github/workflows/auto-merge.yml
  .github/workflows/ci.yml
  .github/workflows/guardrails.yml
  .github/workflows/labels-sync.yml
  .github/workflows/require-owner-approval.yml
  functions/api/ably-token.ts
  scripts/sync-labels.mjs
  tests/functions.ably-token.test.js
Labels: type:docs, area:ci, area:net, automerge

docs(api): add examples, reserved payloads, channel usage; link from events.md
  docs/api/channel-usage.md
  docs/api/events.examples.md
  docs/api/events.md
  docs/api/payload-fields.md
Labels: type:docs, automerge

docs(observability): add performance marks + ADR-0002
  docs/architecture/decisions/ADR-0002-observability.md
  docs/observability/performance-marks.md
Labels: type:docs, automerge

feat(build): interactive UI stub in dist respecting join/start/move/state
  scripts/build-placeholder.mjs
Labels: none

chore(workspace): add npm workspaces (apps/web, functions) — placeholders only
  apps/web/README.md
  apps/web/package.json
  docs/architecture/workspaces.md
  functions/package.json
  package.json
Labels: type:docs, area:net, automerge

feat(functions): /api/health スタブを追加（200 OK, {ok:true})
  functions/api/health.js
  tests/functions.health.test.js
Labels: area:net

chore(workspace): lockfile を更新（workspaces 反映）
  package-lock.json
Labels: none

feat(web): Vite+React スケルトンを追加（ローカル操作のみ・既存ビルド非変更）
  apps/web/README.md
  apps/web/index.html
  apps/web/package.json
  apps/web/src/App.jsx
  apps/web/src/main.jsx
  apps/web/vite.config.js
Labels: none

chore(web): Prettier でフォーマット
  apps/web/src/App.jsx
  apps/web/src/main.jsx
Labels: none

chore(ci): PR・Issueをだれでも分かるテンプレ/CIに刷新（本文検査/日本語/夜間サマリ）
  .github/ISSUE_TEMPLATE/01-親Issue_だいじなこと.yml
  .github/ISSUE_TEMPLATE/02-子Issue_こまかい作業.yml
  .github/pull_request_template.md
  .github/workflows/pr-clarity.yml
  .github/workflows/pr-housekeeping.yml
  docs/git/pr-guidelines.md
Labels: type:docs, area:ci, automerge

chore(ci): rename issue template filenames to English and enforce ASCII via CI
  .github/ISSUE_TEMPLATE/01-parent-epic.yml
  .github/ISSUE_TEMPLATE/02-sub-issue.yml
  .github/workflows/filename-ascii.yml
Labels: type:docs, area:ci, automerge

docs(api): add examples, reserved payloads, channel usage; link from events.md (#69)
  docs/api/channel-usage.md
  docs/api/events.examples.md
  docs/api/events.md
  docs/api/payload-fields.md
Labels: type:docs, automerge

docs(observability): add performance marks + ADR-0002 (#70)
  docs/architecture/decisions/ADR-0002-observability.md
  docs/observability/performance-marks.md
Labels: type:docs, automerge

docs(deployment): Token Service design + env variables; link from CF Pages guide
  docs/deployment/cloudflare-pages.md
  docs/deployment/env-variables.md
  docs/deployment/token-service.md
Labels: type:docs, automerge

chore(ci): remove auto-link and reviewdog workflows (folded into guardrails/ci)
  .github/workflows/auto-link-from-branch.yml
  .github/workflows/reviewdog-eslint.yml
  .github/workflows/reviewdog-markdown.yml
Labels: type:docs, area:ci, automerge

chore(ci): remove extra workflows (pr-helper/pr-size/doctor/slash-commands/subissue)
  .github/workflows/auto-subissue.yml
  .github/workflows/nightly-doctor.yml
  .github/workflows/pr-doctor.yml
  .github/workflows/pr-helper.yml
  .github/workflows/pr-size.yml
  .github/workflows/slash-commands.yml
Labels: type:docs, area:ci, automerge

docs: refresh README for Phase 1 quickstart
  README.md
Labels: none

docs(deployment): Token Service design + env variables; link from CF Pages guide (#71)
  docs/deployment/cloudflare-pages.md
  docs/deployment/env-variables.md
  docs/deployment/token-service.md
Labels: type:docs, automerge

feat(functions): /api/health スタブを追加（200 OK, {ok:true}) (#79)
  functions/api/health.js
  tests/functions.health.test.js
Labels: area:net

feat(build): interactive UI stub in dist respecting join/start/move/state (#73)
  scripts/build-placeholder.mjs
Labels: none

chore(ci): PRタイトル日本語必須チェックを追加（スキップ用ラベル rules:allow-non-jp-title）
  .github/labels.json
  .github/workflows/pr-title-japanese.yml
Labels: type:docs, area:ci, automerge

chore(ci): PRタイトル日本語必須チェックを追加（スキップ用ラベル rules:allow-non-jp-title） (#77)
  .github/labels.json
  .github/workflows/pr-title-japanese.yml
Labels: type:docs, area:ci, automerge

chore(ワークスペース): npm workspaces 追加（apps/web, functions） (#75)
  apps/web/README.md
  apps/web/package.json
  docs/architecture/workspaces.md
  functions/package.json
  package-lock.json
  package.json
Labels: type:docs, area:net, automerge

CI/Docs: PR・Issueをだれでも分かるように仕組み化（本文検査/テンプレ刷新/夜間サマリ） (#85)
  .github/ISSUE_TEMPLATE/01-parent-epic.yml
  .github/ISSUE_TEMPLATE/02-sub-issue.yml
  .github/pull_request_template.md
  .github/workflows/filename-ascii.yml
  .github/workflows/pr-clarity.yml
  .github/workflows/pr-housekeeping.yml
  docs/git/pr-guidelines.md
Labels: type:docs, area:ci, automerge

chore(ワークスペース): npm workspaces 追加（apps/web, functions） (#75)
  docs/architecture/workspaces.md
  functions/package.json
  package-lock.json
  package.json
Labels: type:docs, area:net, automerge

chore(web): sync lockfile for Vite/React plugin (fix npm ci on Pages)
  apps/web/package.json
  package-lock.json
Labels: none

SWITCH: Vite + React スケルトンを追加（ローカル操作のみ） (#83)
  apps/web/index.html
  apps/web/package.json
  apps/web/src/App.jsx
  apps/web/src/main.jsx
  apps/web/vite.config.js
  package-lock.json
Labels: none

feat(web): M1 R3Fキャンバス導入（最小ループ）
  apps/web/src/App.jsx
  apps/web/src/Scene.jsx
Labels: none

chore(web): Prettier フォーマット（M1）
  apps/web/src/Scene.jsx
Labels: none

SWITCH: M1 R3Fキャンバス導入（最小ループ） (#86)
  apps/web/src/App.jsx
  apps/web/src/Scene.jsx
Labels: none

feat(web): M2 イベント基盤（Envelope検証＋ローカルBus）」
  apps/web/src/App.jsx
  apps/web/src/lib/bus/local.js
  apps/web/src/lib/events/schema.js
  apps/web/src/lib/events/validate.js
  apps/web/src/state/events.js
Labels: none

feat(web): M2 イベント基盤（Envelope検証＋ローカルBus）」 (#87)
  apps/web/src/App.jsx
  apps/web/src/lib/bus/local.js
  apps/web/src/lib/events/schema.js
  apps/web/src/lib/events/validate.js
  apps/web/src/state/events.js
Labels: none

feat(web): M3 VRMローダを追加（@pixiv/three-vrm／失敗時は球体フォールバック）
  apps/web/package.json
  apps/web/src/Scene.jsx
  apps/web/src/scene/Avatar.jsx
Labels: none

chore(web): Prettier フォーマット（M3）
  apps/web/src/scene/Avatar.jsx
Labels: none

.github/labeler.yml:

type:docs:
  - changed-files:
      - any-glob-to-any-file: ['docs/**', 'AGENTS.md', '.github/**']
area:ci:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**']
area:net:
  - changed-files:
      - any-glob-to-any-file: ['functions/**']
area:ui:
  - changed-files:
      - any-glob-to-any-file: ['src/**', 'public/**']

automerge:
  - changed-files:
      - any-glob-to-any-file: ['docs/**', '.github/**']
